
#main{
   border: 2px solid white;
   background-color: #ff8c1a
}



body{
	font-family:Arial,Helvetica, sans-serif;
}

input[type=text]{
	width: 15%;
    padding: 10px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    
}


.imge{
    margin-left: 450px;
    width: 50%;
    float:auto;

}
.img1{
    margin-left: 75px;
    width: 30%;
    float:auto;

}

.btn{
     margin-left: 15px;
     width: 10%;

}

input[type=password]{
	width: 15%;
    padding: 10px 10px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
}

button {
     background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}

button:hover {
    opacity: 0.8;
}

img{
     margin-left: 240px;
}

input[type=label] {
    float:center;
}

